.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: antiquewhite;
}
input {
  width: 30%;
  height: 1.5rem;
  border: 1px solid black;
  background-color: hsla(46, 87%, 57%, 0.801);
}

span {
  text-decoration: none;
  display: inline;
  padding: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}
div {
  margin: 1rem;
}
.emoji-list {
  margin-top: 4rem;
}
